@import url('./fonts.css');
@import url('./calcite.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    color: #0079c1;
}

/* width */
::-webkit-scrollbar {
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f9f9f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d3d3d3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d9d9d9;
}