@import url('./fonts.css');
@import url('./calcite.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    color: #0079c1;
}

/* width */
.fancy-scroll::-webkit-scrollbar {
    height: auto;
}

/* Track */
.fancy-scroll::-webkit-scrollbar-track {
    background: #d3d3d3;
}

/* Handle */
.fancy-scroll::-webkit-scrollbar-thumb {
    background: rgba(26, 68, 128, .85);
}

/* Handle on hover */
.fancy-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(26, 68, 128, 1);
}